body {
  margin: 0;
  background: rgb(214, 131, 207);
}

#demo_img {
  width: 100%;
}

#player {
  width: 0.1%;
  height: 0%;
}

#capture,
#ocr-button {
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 5px;
  background-color: rgb(53, 182, 63);
  color: #fff;
  border-style: none;
}

#file-input {
  width: 50%;
  height: 40px;
  background-color: #ccc;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

#snapshot {
  opacity: 0;
}